####################################################################
# WhiteSource Unified-Agent generated configuration file
####################################################################
########################################################
# GENERAL SCAN MODE: Files and Package Managers
########################################################

resolveAllDependencies=false
#archiveExtractionDepth=7
followSymbolicLinks=false
bower.resolveDependencies=true
bower.runPreStep=true
html.resolveDependencies=true
maven.resolveDependencies=true
npm.resolveDependencies=true
npm.runPreStep=true
npm.identifyByNameAndVersion=true
#------------------------------------------------------------------------
#------------------------ Fill in the parameters ------------------------
#------------------------------------------------------------------------

apiKey=5717832309fa4712b2833703fdebd74828b00fc266a741ffad25f7c891235c39
#Unique identifier of the organization. It can be retrieved from the 'Integrate' page in your WhiteSource account

productName=Webgoat
#Name of the product to create or update

projectName=1.0
#Name of the project to create or update

wss.url=https://saas.whitesourcesoftware.com/agent
#URL to send the request to. Use the 'WhiteSource Server URL' which can be retrieved from your 'Profile' page on the 'Server URLs' panel. Then, add New configuration was created at the '/agent' path to it, 
#For example: "https://<domain>.whitesourcesoftware.com/agent".

#projectTag=
#Project tag, to refer to another project and apply the policies from there

#projectToken=
#Unique identifier of the project to update. It can be retrieved from the 'Integrate' page in your WhiteSource account

#---------------- File name patterns to search ----------------
includes=**/*.zip **/*.java **/*.sh **/*.js **/*.php **/*.jar **/*.cmd **/*.min.js **/*.sql **/*.ts
